.search {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1em;
  border: 1px solid var(--border);
  border-radius: 1rem;
  background: var(--search-foreground);
  gap: 1em;
}
.search i {
  display: flex;
  font-size: 1em;
}
.search p {
  color: var(--secondary-text);
  font-size: 0.9em;
}
.search .search-input {
  width: 100%;
  position: relative;
}
.search .search-input input {
  width: 100%;
  border: 1px solid var(--border);
  background: none;
  font-size: 0.9em;
  text-align: left;
  padding-left: 2.5em;
}
.search .search-input input::placeholder {
  color: color-mix(in srgb, var(--secondary-text) 80%, transparent);
}
.search .search-input i {
  width: min-content;
  position: absolute;
  top: 50%;
  left: 0.75em;
  transform: translateY(-50%);
}
.search .search-filter-options {
  display: flex;
  flex-direction: column;
}
.search .search-filter-options li {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--border);
  padding: 0.5em 0 0.25em 0;
  margin: 0.25em 0;
  row-gap: 0.5em;
}
.search .search-filter-options li:first-child {
  flex-direction: row;
  border-top: none;
}
.search .search-filter-options li:first-child i {
  margin-right: 0.35rem;
}
.search .search-filter-options li * {
  width: fit-content;
  color: var(--secondary-text);
}
.search .search-filter-options li #cocktail-glasses,
.search .search-filter-options li #cocktail-categories,
.search .search-filter-options li #cocktail-alcohol {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.search .search-filter-options li #cocktail-glasses p,
.search .search-filter-options li #cocktail-categories p,
.search .search-filter-options li #cocktail-alcohol p {
  background-color: var(--input-foreground);
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  border: 1px solid var(--border);
  font-size: 0.8em;
  cursor: pointer;
  user-select: none;
}
.search .search-filter-options li #cocktail-glasses p.selected,
.search .search-filter-options li #cocktail-categories p.selected,
.search .search-filter-options li #cocktail-alcohol p.selected {
  background-color: var(--accent);
  border: 1px solid var(--accent-border);
  color: white;
}
.search .search-filter-options li #cocktail-glasses p:hover,
.search .search-filter-options li #cocktail-categories p:hover,
.search .search-filter-options li #cocktail-alcohol p:hover {
  border: 1px solid var(--accent-border);
}

.cocktails-list.empty {
  gap: 0;
}

.no-cocktails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}
.no-cocktails > * {
  color: var(--secondary);
}
.no-cocktails p {
  margin-top: 1em;
}
.no-cocktails i {
  display: flex;
  font-size: 5em;
  width: fit-content;
}

.cocktail {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  transition: 0.2s ease-in-out;
  transition-property: background-color, transform, max-height, border, box-shadow;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border);
  background: #121A29;
  background: linear-gradient(90deg, rgb(18, 26, 41) 0%, rgb(21, 31, 46) 100%);
}
.cocktail:hover {
  transform: scale(1.025);
  border-color: var(--accent-border);
  -webkit-box-shadow: 4px 8px 24px -12px rgba(255, 105, 0, 0.8);
  -moz-box-shadow: 4px 8px 24px -12px rgba(255, 105, 0, 0.8);
  box-shadow: 4px 8px 24px -12px rgba(255, 105, 0, 0.8);
}
.cocktail:hover .cocktail-background img {
  transform: scale(1.05);
}
.cocktail.loading {
  display: flex;
  position: relative;
  width: 20vw;
  height: 350px;
}
.cocktail.loading:hover {
  transform: none;
  border-color: var(--border);
  box-shadow: none;
}
.cocktail .cocktail-background {
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cocktail .cocktail-background img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 0.5rem 0.5rem 0 0;
  filter: brightness(80%);
  transition: 0.3s ease-in-out transform;
}
.cocktail .cocktail-background .cocktail-type {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0.75em;
  right: 0.75em;
  width: fit-content;
  border-radius: 0.5em;
  padding: 0.1em 0.25em;
  border: 1px solid;
}
.cocktail .cocktail-background .cocktail-type * {
  color: var(--secondary);
}
.cocktail .cocktail-background .cocktail-type i {
  font-size: 0.8em;
  margin-right: 0.25em;
  display: flex;
}
.cocktail .cocktail-background .cocktail-type p {
  font-size: 0.8em;
  text-wrap: nowrap;
}
.cocktail .cocktail-background .cocktail-type.cocktail-alcoholic {
  background-color: var(--accent);
  border-color: var(--accent-border);
}
.cocktail .cocktail-background .cocktail-type.cocktail-non-alcoholic {
  background-color: var(--non-alcoholic);
  border-color: var(--non-alcoholic-border);
}
.cocktail .cocktail-background .cocktail-favourite {
  position: absolute;
  top: 0.75em;
  left: 0.75em;
  background-color: var(--card-foreground);
  width: fit-content;
  padding: 0.5em;
  border-radius: 100%;
  opacity: 90%;
  backdrop-filter: blur(2em);
  cursor: pointer;
}
.cocktail .cocktail-background .cocktail-favourite.selected {
  background-color: var(--purple);
}
.cocktail .cocktail-background .cocktail-favourite i {
  display: flex;
  font-size: 1em;
}
.cocktail .cocktail-content {
  display: flex;
  flex-direction: column;
  padding: 1em;
}
.cocktail .cocktail-content .cocktail-name {
  border-bottom: 2px solid var(--font-color);
  font-weight: 600;
  font-size: 1em;
  display: flex;
  margin-bottom: 0.5em;
}
.cocktail .cocktail-info {
  display: flex;
  width: 100%;
  gap: 0.5em;
  margin-bottom: 0.5em;
}
.cocktail .cocktail-info li {
  background-color: var(--input-foreground);
  border-radius: 0.5em;
  font-size: 0.7em;
  font-weight: 400;
  width: fit-content;
  padding: 0.25em 0.5em;
  border: 1px solid var(--border);
}
.cocktail p {
  font-weight: 400;
  font-size: 0.9em;
  color: var(--secondary-text);
}

.page-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0 1em 0;
}
.page-list > p {
  text-align: center;
  font-size: 0.9em;
  color: var(--secondary-text);
  margin-top: 1em;
}
.page-list ol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}
.page-list ol li {
  display: flex;
  max-width: 3em;
  justify-content: center;
  align-items: center;
}
.page-list ol li button {
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  aspect-ratio: 1/1;
  border: 0 solid var(--accent-border);
}
.page-list ol li button:hover {
  border: 1px solid var(--accent-border);
}
.page-list ol li button.current {
  background-color: var(--accent);
}
.page-list ol li button i {
  font-size: 1em;
  display: flex;
}

/*# sourceMappingURL=cocktail.css.map */
