/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@import "root.css";
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: var(--secondary);
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size);
}

i {
  font-size: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a,
a:visited,
a:link {
  text-decoration: none;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  background: #030814;
  background: var(--body-gradient);
}

ul, ol {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: color-mix(in srgb, var(--header-foreground) 90%, transparent);
  border-bottom: 1px solid var(--border);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  -webkit-backdrop-filter: blur(0.5em);
  backdrop-filter: blur(0.5em);
}
header .right-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}
header .right-sec .favourites,
header .right-sec .ingredients {
  border: 1px solid var(--border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: transparent;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header .right-sec .favourites i,
header .right-sec .ingredients i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0.5em;
  font-size: 1.25em;
  -webkit-transition: color 0.3s ease, -webkit-transform 0.2s ease;
  transition: color 0.3s ease, -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease, color 0.3s ease;
  transition: transform 0.2s ease, color 0.3s ease;
  transition: transform 0.2s ease, color 0.3s ease, -webkit-transform 0.2s ease;
}
header .right-sec .favourites p,
header .right-sec .ingredients p {
  margin: 0;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
header .right-sec .favourites:hover,
header .right-sec .ingredients:hover {
  border-color: var(--accent-border);
}
header .right-sec .favourites:hover i,
header .right-sec .ingredients:hover i {
  -webkit-transform: scale(1.2) rotate(-10deg);
  -ms-transform: scale(1.2) rotate(-10deg);
  transform: scale(1.2) rotate(-10deg);
}
header .right-sec .favourites.selected,
header .right-sec .ingredients.selected {
  background-color: var(--purple);
  border-color: var(--purple-border);
}
header .right-sec .favourites.selected i,
header .right-sec .ingredients.selected i {
  color: white;
}
header .right-sec .favourites.selected p,
header .right-sec .ingredients.selected p {
  color: white;
}
header .right-sec .favourites:active,
header .right-sec .ingredients:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 50vw;
}
header .logo i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fd331d;
  background: var(--header-icon-gradient);
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  aspect-ratio: 1/1;
}
header .logo .logo-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
header .logo .logo-content p {
  font-size: 0.75em;
  color: var(--secondary-text);
}

footer {
  background-color: var(--footer-foreground);
  min-height: 64px;
  border-top: 1px solid var(--border);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2em 1em;
  gap: 1em;
  width: 100%;
}
footer .year {
  margin: 0 0.25em;
}
footer p, footer .year {
  color: var(--secondary-text);
  font-size: 0.9em;
  text-align: center;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 6em 1em 1em 1em;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
}
main .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 2em 0;
}
main .banner h1 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
}
main .banner h1 i {
  font-size: 1em;
  color: var(--purple);
  margin-left: 0.5em;
}
main .banner p {
  text-align: center;
  font-size: 0.9em;
  margin-top: 0.5em;
  color: var(--secondary-text);
}
main * {
  width: 100%;
}
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}
main section.cocktail-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 0.5em;
}

input,
button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: var(--input-foreground);
  border-radius: 0.75em;
  font-size: 1em;
  text-align: center;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

main.loading .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main.loading .search {
  min-height: 400px;
}
main.loading .search, main.loading .cocktail {
  background: var(--item-loading-gradient);
  background-size: 400% 400%;
  -webkit-animation: loading-background 2s ease infinite;
  animation: loading-background 2s ease infinite;
}
@-webkit-keyframes loading-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes loading-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*# sourceMappingURL=main.css.map */
