@import "root.css";
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: var(--secondary);
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: var(--font-size);
}

i {
  font-size: 2em;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  background: #030814;
  background: linear-gradient(307deg, rgb(3, 8, 20) 0%, rgb(24, 37, 64) 50%, rgb(3, 8, 20) 100%);
}

ul, ol {
  list-style-type: none;
  display: flex;
}

header {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background-color: color-mix(in srgb, var(--header-foreground) 90%, transparent);
  border-bottom: 1px solid var(--border);
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  backdrop-filter: blur(0.5em);
}
header .favourites {
  border: 1px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .favourites.selected {
  background-color: var(--purple);
  border: 1px solid var(--purple-border);
}
header .favourites:hover {
  border: 1px solid var(--accent-border);
}
header .favourites i {
  display: flex;
  margin-right: 0.5em;
  font-size: 1.25em;
}
header .logo {
  display: flex;
  max-width: 50vw;
}
header .logo i {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fd331d;
  background: linear-gradient(132deg, rgb(253, 51, 29) 0%, rgb(203, 69, 252) 100%);
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  aspect-ratio: 1/1;
}
header .logo .logo-content {
  display: flex;
  padding-left: 0.75em;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
header .logo .logo-content p {
  font-size: 0.75em;
  color: var(--secondary-text);
}

footer {
  background-color: var(--footer-foreground);
  min-height: 64px;
  border-top: 1px solid var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em;
  gap: 1em;
  width: 100%;
}
footer .year {
  margin: 0 0.25em;
}
footer p, footer .year {
  color: var(--secondary-text);
  font-size: 0.9em;
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6em 1em 1em 1em;
}
main .banner {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}
main .banner h1 {
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
}
main .banner p {
  text-align: center;
  font-size: 0.9em;
  margin-top: 0.5em;
  color: var(--secondary-text);
}
main * {
  width: 100%;
}
main section {
  display: flex;
  padding: 1em;
}
main section.cocktail-list {
  flex-direction: column;
  row-gap: 0.5em;
}

input,
button {
  display: flex;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  background-color: var(--input-foreground);
  border-radius: 0.75em;
  font-size: 1em;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
