:root {
	--font-size: 16px;
	--foreground: #0f1522;
	--card-foreground: #162030;
	--header-foreground: #0E1525;
	--input-foreground: #1E2939;
	--border: #364153;
	--secondary: #eceef2;
	--secondary-text: #78808e;
	--accent: #f54900;
	--accent-border: #ff6900;
}