:root {
	/* Fonts */
	--font-size: 16px;

	/* Main elements */
	--foreground: #0f1522;
	--card-foreground: #162030;
	--header-foreground: #0E1525;
	--footer-foreground: #090f1d;
	--search-foreground: #0E1525;
	--input-foreground: #1E2939;

	/* Gradients */
	--body-gradient: linear-gradient(307deg,rgba(3, 8, 20, 1) 0%, rgba(24, 37, 64, 1) 50%, rgba(3, 8, 20, 1) 100%);
	--header-icon-gradient: linear-gradient(132deg,rgba(253, 51, 29, 1) 0%, rgba(203, 69, 252, 1) 100%);
	--item-loading-gradient: linear-gradient(90deg, #0f1522, #162030, #0f1522);
	--item-gradient: linear-gradient(90deg,rgba(18, 26, 41, 1) 0%, rgba(21, 31, 46, 1) 100%);

	/* Borders */
	--border: #364153;

	/* Text color */
	--secondary: #eceef2;
	--secondary-text: #78808e;

	/* Additional colors */
	--accent: #f54900;
	--accent-border: #ff6900;
	--non-alcoholic: #59AC77;
	--non-alcoholic-border: #A7E399;
	--purple: #9B5DE0;
	--purple-border: #D78FEE;
}